# Python
__pycache__/
*.py[cod]
*.pyo
*.so
*.egg-info/
.eggs/
*.log

# Environments (виртуальные окружения)
.venv/
venv/
env/

# Django
db.sqlite3
media/
staticfiles/
*.sqlite3

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
